@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

.bg-pedalpalooza-2 {
  background-image: url("/images/pedalpalooza-1.jpg");
  background-image: -webkit-image-set(url("/images/pedalpalooza-1.webp") 1x);
  background-image: image-set(url("/images/pedalpalooza-1.webp") 1x);
  background-size: cover;
  background-position: center 25%;
}
