@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

.bg-pedalpalooza-2 {
  background-image: url("/images/pedalpalooza-overhead-2560w.jpg");
  background-image: image-set(
    url("/images/pedalpalooza-overhead-2560w.webp") type("image/webp") 1x,
    url("/images/pedalpalooza-overhead-2560w.jpg") type("image/jpeg") 1x
  );
  @media (max-width: 640px) {
    background-image: url("/images/pedalpalooza-overhead-640w.jpg");
    background-image: image-set(
      url("/images/pedalpalooza-overhead-640w.webp") type("image/webp") 1x,
      url("/images/pedalpalooza-overhead-640w.jpg") type("image/jpeg") 1x
    );
  }
  @media (max-width: 768px) and (min-width: 641px) {
    background-image: url("/images/pedalpalooza-overhead-768w.jpg");
    background-image: image-set(
      url("/images/pedalpalooza-overhead-768w.webp") type("image/webp") 1x,
      url("/images/pedalpalooza-overhead-768w.jpg") type("image/jpeg") 1x
    );
  }
  @media (max-width: 1024px) and (min-width: 769px) {
    background-image: url("/images/pedalpalooza-overhead-1024w.jpg");
    background-image: image-set(
      url("/images/pedalpalooza-overhead-1024w.webp") type("image/webp") 1x,
      url("/images/pedalpalooza-overhead-1024w.jpg") type("image/jpeg") 1x
    );
  }
  @media (max-width: 1920px) and (min-width: 1025px) {
    background-image: url("/images/pedalpalooza-overhead-1920w.jpg");
    background-image: image-set(
      url("/images/pedalpalooza-overhead-1920w.webp") type("image/webp") 1x,
      url("/images/pedalpalooza-overhead-1920w.jpg") type("image/jpeg") 1x
    );
  }
  background-size: cover;
  background-position: center 25%;
}
